<ion-view title="Exercises" id="page3">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/yQ6E3GYzQSSQ8wKRDhzh_Floor-Clock.jpg">
                <h2>Clock Reach</h2>
                <p>Improves balance</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/LpFdXqXGQ2LH8ZC2nUk4_standing-old-man-silhouette-with-a-walking-stick_318-29599.png">
                <h2>Walk</h2>
                <p>Simple walking exercise</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/7n2UDBmaQzSRsdTnqqUc_dancer-balance-posture-on-one-leg_318-29274.png">
                <h2>Standing on one foot</h2>
                <p>Test your balance</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>