<ion-view title="Home" id="page2">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Welcome to swift balance app</div>
            <div class="item item-body">
                <div id="home-markdown1" style="color:#000000;">
                    <h2>Superas quibus canebat merguntque ianua poma nostros</h2>

                    <p>Lorem markdownum campos referre Thessalidum
                        <a href="http://reddit.com/r/thathappened">discedite</a>aliter disiectum
                        <em>levem</em>. Pinum</p>

                    <p>nymphae viros
                        <strong>prius</strong>: habenas</p>

                    <pre>
                        <code>cycle_barebones += 5 * 2 + thinUndo;</code>
                    </pre>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Exercises</div>
            <div class="item item-body">
                <div>
                    <b>1. Clock Reach</b>
                    <br>
                </div>
                <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
                    <iframe src="https://www.youtube.com/embed/yi01KXc7laY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Performance Monitoring</div>
            <div class="item item-body">
                <div>
                </div>
                <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;">
                    <iframe src="https://www.youtube.com/embed/nkRq0VcUISo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>